#root,
body,
html {
  width: 100%;
  height: 100%;
}

#root {
  --lightGold: #cdbe91;
  --greyBlue: #2a3540;
}

* {
  font-family: Asul;
  font-weight: bold;
  color: #cdbe91;
}

textarea:focus,
input:focus,
select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.Toastify__progress-bar--dark {
  background: linear-gradient(90deg,#4cd964,#5ac8fa,#007aff,#34aadc,#5856d6,#ff2d55) !important;
}
