.homeBg {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/png/bg.png");
  background-color: #1f2229;
  background-position: center;
  background-size: 100%;
  background-attachment: fixed;

}

.homeContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: auto;
  width: 500px;
  height: 500px;
}

.brandBig {
  margin-top: 270px;
  margin-bottom: 70px;
  width: 515px;
}
