
#container-match #win-rate #info-winrate{
    display: flex;
}
#container-match #win-rate h2{
    font-family: Asul;
    font-weight: bold;
    font-size: 36px;
    color: #CDBE91;
    line-height: 43px;
    margin-right: 200px;
}

#container-match #win-rate #losses{
    width: 900px;
    max-width: 100%;
    background-color: #EC2040;
}
#container-match #win-rate #losses #win{
    width: 60%;
    background-color: #1BA9BD;
    color:  #1BA9BD;
}


#container-match{
    width: 100%;
    max-width: 1000px;
}
#container-match #match-history form{
    margin-top: 30px;
    width: 900px;
    overflow-y: auto;
    max-height: 420px;
    background-color: #2A3540;
  
}
#container-match #match-history form::-webkit-scrollbar {
    width: 5px;
  }
  

#container-match #match-history form::-webkit-scrollbar-track {
    background: #2A3540;
  }
  

#container-match #match-history form::-webkit-scrollbar-thumb {
    background: rgb(145, 145, 145);
  }
  

#container-match #match-history form .history-info{
    margin-bottom: 5px;
    position: relative;
    list-style: none;
    height: 140px;
}
#container-match #match-history form .history-info .bg-img{
    background-image: url('../../assets/YasuoBg.svg');
    width: 100%;
    height: 140px;
    opacity: 0.2;
}
#container-match #match-history form .history-info .color{
    position: absolute;
    top: 0;
    height: 140px;
    background-color:#1BA9BD;
    color:#1BA9BD ;
}

#container-match #match-history form .history-info h1{
    position: absolute;
    top: 45px;
    left: 92px;
    font-family: Asul;
    font-weight: bold;
    font-size: 50px;
    color: #CDBE91;
    line-height: 61px;
}
#container-match #match-history form .history-info img{
    position: absolute;
    max-width: 60px;
    top: 40px;
    left: 10px;

}

#container-match #match-history form .history-info h3{
    position: absolute;
    bottom: 0;
    left: 15px;
    font-family: Asul;
    font-weight: bold;
    font-size: 20px;
    color: white;
    line-height: 24px;
}

#container-match #match-history form .history-info p{
    position: absolute;
    top: 0;
    right: 15px;
    font-family: Asul;
    font-weight: bold;
    font-size: 18px;
    color: white;
    line-height: 21px;
}

#container-match #match-history form .history-info h2{
    position: absolute;
    bottom: 0;
    right: 15px;
    font-family: Asul;
    font-weight: bold;
    font-size: 36px;
    color: white;
    line-height: 43px;
}
